body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background-color: #4040e0;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}

.screen {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

input[type="text"], input[type="number"], button, textarea {
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #4040e0;
    color: #ffffff;
    border: 2px solid #ffffff;
}

input[type="number"] {
    width: 80px;
    text-align: center;
    padding-right: 5px;
    -moz-appearance: textfield; /* Firefox */
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    background-color: #ffffff;
    color: #4040e0;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #a0a0ff;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 60px;
    word-wrap: break-word;
    box-sizing: border-box;
}

#originalUrl {
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    padding: 10px;
    margin: 1px 0;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #4040e0;
    color: #ffffff;
    border: 2px solid #ffffff;
    position: relative;
}

#originalUrl::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#result {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    padding-top: 10px;
}

#generatedUrl, #urlPreview {
    flex-grow: 1;
    margin-right: 100px;
    margin-top: 0px;
    position: relative;
    min-height: 60px;
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
    box-sizing: border-box;
    width: calc(100% - 100px);
    padding: 10px;

    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    line-height: 1.5;
    white-space: pre-wrap;
    word-break: break-all;
    border: 2px solid #ffffff;
}

#urlPreview {
    color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
    z-index: 1;
}

#copyButton {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    min-width: 90px;
    padding: 10px 5px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
}

#copyButton.inactive {
    opacity: 0.5;
    cursor: not-allowed;
}

#copyButton.copied {
    background-color: #4040e0;
    color: #ffffff;
    border: 2px solid #ffffff;
}

#longUrlControls {
    margin: 20px 0;
    transition: opacity 0.3s;
}

#longUrlControls.inactive {
    opacity: 0.5;
}

.slider-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#urlLengthSlider {
    flex-grow: 1;
    margin-left: 10px;
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #ffffff;
    outline: none;
}

#urlLengthSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4040e0;
    cursor: pointer;
    border: 2px solid #ffffff;
}

#urlLengthSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4040e0;
    cursor: pointer;
    border: 2px solid #ffffff;
}

#milestones {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.milestone {
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #4040e0;
    transition: background-color 0.3s;
}

.milestone:hover {
    background-color: #a0a0ff;
}

.milestone.active {
    background-color: #4040e0;
    color: #ffffff;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.button-group button {
    flex: 1;
    margin: 0 0px;
}

.button-group button.active {
    background-color: #4040e0;
    color: #ffffff;
    border: 2px solid #ffffff;
}

/* Commodore 64 scanline effect */
@keyframes scanline {
    0% {
        background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0) 50%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.2));
        background-size: 100% 4px;
        background-position: 0 -2px;
    }
    100% {
        background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0) 50%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.2));
        background-size: 100% 4px;
        background-position: 0 0;
    }
}

.screen::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: scanline 10s linear infinite;
}