<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener/Elongator</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>URL Shortener/Elongator</h1>
        <input type="text" id="originalUrl" placeholder="Enter URL to shorten/elongate">
        <div class="options">
            <label>
                <input type="radio" name="urlType" value="short" checked> Short URL
            </label>
            <label>
                <input type="radio" name="urlType" value="long"> Long URL
            </label>
            <div id="sliderContainer" class="slider-container" style="display:none;">
                <input type="range" id="longLengthSlider" min="100" max="2048" value="100" step="1">
                <div class="slider-labels">
                    <span>100</span>
                    <span id="twitchChatLabel" style="position: absolute; left: 50%; transform: translateX(-50%);">Twitch chat</span>
                    <span>2048</span>
                </div>
                <p id="selectedLength">Selected length: 100</p>
            </div>
        </div>
        <button onclick="processUrl()">Generate URL</button>
        <div id="result"></div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>